body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: beige;
}

header {
    background-color: rgb(85, 19, 19);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
}

footer {
    background-color: rgb(85, 19, 19);
    text-align: center;
    color: white;
    padding: 1rem;
    margin: 0;
    position: relative;
    bottom: 0;
}

h1 a {
    color: white;
    text-decoration: none;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.8rem;
}

/* navigeringsmeny */
nav {
    background-color: rgb(85, 19, 19);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 60%;
    display: none;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    padding: 0.8em 0;
    width: 100%;
}

nav a {
    color: white;
}

nav li:hover {
    background-color: rgba(0, 0, 0, 0.634);
}

/* hamburgermeny */
.menu-btn {
    justify-self: end;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.open {
    background-color: rgb(85, 19, 19);
}

.menu-icon {
    margin-right: 0.625rem;
}

/* the three bars that makes the hamburger-icon */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2rem;
    color: #fff;
}

/* menybutton, close */
.close {
    margin: 0;
    padding: 1.6rem;
    background-color: rgb(85, 19, 19);
}

.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

.menu-close-text {
    font-size: 1.2rem;
    color: black;
}

/* index- & assignment-page */
.text-box, .process-box{
    line-height: 1.2rem;
    border: 2px solid rgb(85, 19, 19);
    background-color: white;
    padding: 1rem 1.5rem 2rem;
    margin: 0 1rem 1rem;
}

/* image-page */
.images {
    text-align: center;
}

img {
    margin: 1rem auto;
    box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.64);
}

/* större skärmar */
@media only screen and (min-width: 45rem) {

    /* general settings */
    h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    /* nav-menu */
    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        width: auto;
        margin: auto 1rem;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: nowrap;
    }

    nav ul li {
        padding: 1rem;
    }

    nav a {
        color: #fff;
    }

    /* index- & assignment-page */
    .text-box,
    .process-box {
        margin: 0 auto 2rem;
        max-width: 40rem;
        padding: 0 2rem;
        box-shadow: -10px 12px 10px 0px rgba(0, 0, 0, 0.64);
    }

    .text-box {
        margin-bottom: 50vh;
    }

    /* image-page */
    .images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.8rem;
        max-width: 50rem;
        margin: 0 auto;
    }

    img {
        margin: 0;
        width: 100%;
    }

    #fifth-image {
        width: 50%;
        margin-bottom: 2rem;
    }

    #centered-image {
        grid-area: 3/1/4/3;
    }
}