.movie-card {
    background-color: #fff;
    padding: 1em 2em 2em;
    width: 90%;
    min-height: 150px;
    margin: 0 auto 1rem; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.29);
}

.movie-card:hover {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.movie-card h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5em;
}

.movie-card p {
    margin-bottom: 0.3em;
}

